# in this file, '\e' represents '^[', that is, ESCape

# look at bash readline faster completion macros
# cool stuff like mapping Ctrl+Alt+L to pipe the command to less etc

# better tab completion
set show-all-if-ambiguous on

# Color files by types
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On

# use Vi bindings
set editing-mode vi
set show-mode-in-prompt on
# the next two lines only work in bash 4.4+
# can even replace + and : with some coloured strings
set vi-ins-mode-string "+"
set vi-cmd-mode-string ":"

# ignore case for autocompletion
set completion-ignore-case On

########################################################
# keymaps in command mode
set keymap vi-command

# disable the annoying v thing
"v": ""
# use the standard j/k vim for autocompletion w/ prefix
"j": history-search-forward
"k": history-search-backward

# insert arguments from last command, !overwriting P!
"P": "i !!*\r"

########################################################
# keymaps in command mode
set keymap vi-insert

# use alt+j/k for forward search and backward search
"\ej": history-search-forward
"\ek": history-search-backward
"\C-n": history-search-forward
"\C-p": history-search-backward

# needed to restore what we have overwritten in the 
# previous section for insert mode
"P": self-insert
"j": self-insert
"k": self-insert
########################################################
